body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 12px;  /* Increased border radius for rounder edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    background-color: #cf1f31;  /* Updated color */
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;  /* Increased border radius for rounder edges */
    text-decoration: none;
    font-size: 18px;
    width: 80%;
    text-align: center;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #a71929;  /* Slightly darker shade for hover effect */
}

@media (min-width: 600px) {
    .options {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .option {
        margin: 10px;
        width: auto;
        flex: 1 1 40%;
    }
}
